<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		
		<title>Login</title>
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
		
		<link rel="stylesheet" href="css/login.css">
	</head>
	<body>
		<div class="wrapper fadeInDown">
		 	<div id="formContent">
		    <!-- Tabs Titles -->
		
		    <!-- Icon -->
		    <div class="fadeIn first">
		      <img src="img/login.png" id="icon" alt="User Icon" />
		    </div>
		
		    <!-- Login Form -->
		    <form action="/login" method="post">
		      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Passaporte">
		      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Senha">
		      <input type="submit" class="fadeIn fourth" value="Log In">
		      <input name="_csrf" type="hidden" th:value="${_csrf.token}" />
		    </form>
		  </div>
		</div>
	</body>
</html>